<div class="row clearfix" ng-controller="app.views.products.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    Product Management
                </h2>
            </div>
        </div>
    </div>
</div>